section.comment
	.comment__header
		img(src="/image/doctor3.jpg", alt="")
		.comment__header__block
			.comment__header__who
				p Anthony 
				span  IS ASKING:
			.comment__header__title
				p Will insuline make my patient get weight?
	.comment__footer
		p asked
	.response
		.response__left
			p 6
			span more activites
		.response__cards
			img(src="/image/doctor2.jpg", alt="")
			.response__card__footer
				p asked
			.response__card__dot
		.response__stats
			span 9 related discussion
			span 9 related discussion
			span 9 related discussion