.comment(ng-repeat="item in allQuestionData | limitTo: limit as results", ng-class="{'comment--first': $first}")
	.comment__header
		img(ng-src="{{item.image}}", alt="")
		.comment__header__block
			.comment__header__who
				p {{item.author}} 
				span  IS ASKING:
			.comment__header__title
				p(ui-sref="singlequestion({ questionID: item.id })") {{item.title}}
	.comment__footer
		p asked
	.response
		.response__left
			p 6
			span more activites
			.response__left__dot
		.response__cards(ng-repeat="response in item.response")
			img(ng-src="{{response.doctor.image}}", alt="")
			.response__card__footer
				p {{response.type}} 
			.response__card__dot
		.response__stats
			span {{item.stats.related_discussion}} related discusion
			span {{item.stats.peers_involved}} peers involved
			span {{item.stats.conversations}} conversations