#myModal.modal
    .modal__content(ng-repeat="item in doctorData")
        span.close x
        .modal__content__header
            img(ng-src="{{item.image}}", alt="")
            p {{item.name}}
            .modal__content__header__info
                .tag member for
                    span {{item.member}}
                .tag last seen 
                    span {{item.last_seen}}
                .tag activity level
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
        .modal__content__switch
            i.fa.fa-chevron-circle-left.fa-2x
            p How it all start
            i.fa.fa-chevron-circle-right.fa-2x
        .modal__content__title
            p That's where we have been these 5 months ago
        .modal__content__stats
            div
                span 
                    |{{item.stats.peers}} 
                    br
                    |peers
            div
                span 
                    |{{item.stats.discussions}}
                    br
                    |discussions
            div
                span 
                    |{{item.stats.findings}}
                    br
                    |findings
            div
                span 
                    |{{item.stats.questions}}
                    br
                    |questions
        .modal__content__title
            p Who joined the platform that same period
        .modal__content__people
            span(ng-repeat="items in item.join")
                img(ng-src="{{items.image}}", alt="") 
        .modal__content__people__name
            p(ng-repeat="items in item.join") 
                |{{items.name}}
        .modal__content__title
            p The hottest discussion these days
        .modal__content__footer
            img(ng-src="{{item.winner.image}}", alt="")
            .article__author
                p {{item.winner.name}}
                span  IS ASKING:
            .article__title
                p {{item.winner.title}}
            .article__stats
                p 6 peers involved
                p 6 peers involved
                p 6 peers involved
                p 6 peers involved