#myModal.modal
    .modal__content
        span.close x
        .modal__content__header
            img(src="/image/doctor1.jpg", alt="")
            p dr. Halima
            .modal__content__header__info
                .tag member for
                    span 5 month
                .tag last seen 
                    span 5 month
                .tag activity level
                    i.fa.fa-star(aria-hidden='true')
        .modal__content__switch
            i.fa.fa-chevron-circle-left.fa-2x
            p How it all start
            i.fa.fa-chevron-circle-right.fa-2x
        .modal__content__title
            p That's where we have been these 5 months ago
        .modal__content__stats
            div
                span 
                    |49 
                    br
                    |peers
            div
                span 
                    |29
                    br
                    |discussions
            div
                span 
                    |19
                    br
                    |findings
            div
                span 
                    |10
                    br
                    |questions
        .modal__content__title
            p Who joined the platform that same period
        .modal__content__people
            span
                img(src="/image/doctor2.jpg", alt="") 
            span
                img(src="/image/doctor2.jpg", alt="")
            span
                img(src="/image/doctor2.jpg", alt="")
        .modal__content__people__name
            p 
                |Joseph
                br 
                |Snow
            p 
                |Joseph
                br 
                |Snow
            p
                |Joseph
                br 
                |Snow
        .modal__content__title
            p The hottest discussion these days
        .modal__content__footer
            img(src="/image/doctor3.jpg", alt="")
            .article__author
                p Joseph
                span  IS ASKING:
            .article__title
                p Vegan diet to stop diabetes progress
            .article__stats
                p 6 peers involved
                p 6 peers involved
                p 6 peers involved
                p 6 peers involved