menu(type="singleQuestion")
section.comment
	.comment__header
		img(src="/image/doctor3.jpg", alt="")
		.comment__header__block
			.comment__header__who
				p Anthony 
				span  IS ASKING:
			.comment__header__title
				p Will insuline make my patient get weight?
		.comment__header__side
			.comment__header__side__switch
				span unfolow
	.comment__button
		span GIVE new answer
	.response
		.response__dialog
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius adipisci assumenda? Exercitationem, quas.
.info
	p 4 peers already answered Anthony
	
	.answer
		.answer_item
			.answer__item__photo
				img(src="/image/doctor2.jpg", alt="")
			.answer__item__content
				span.content__name Patricia 
				span.content__type COMMENTED IT 
				span.content__dote 
				span.content__date yesterday 
				br
				span.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, animi?	
		.answer_subitem
			.answer__subitem__photo
				img(src="/image/doctor1.jpg", alt="")
			.answer__subitem__content
				span.subcontent__name Dawid 
				span.subcontent__type COMMENTED IT 
				span.subcontent__dote 
				span.subcontent__date yesterday 
				br
				span.subcontent__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, animi?
			.answer_subitem__button CONTINUE discusion