menu(type="singleQuestion")
section.comment
	.comment__header
		img(src="/image/doctor3.jpg", alt="")
		.comment__header__block
			.comment__header__who
				p Anthony 
				span  IS ASKING:
			.comment__header__title
				p Will insuline make my patient get weight?
		.comment__header__side		
			.comment__header__side__switch
				span unfolow
	.comment__button
		span GIVE new answer
	.response
		.response__dialog
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius adipisci assumenda? Exercitationem, quas.