menu(type="singleQuestion")
.comment.comment--fix(ng-repeat="item in questionData")
	.comment__header
		img(ng-src="{{item.image}}", alt="")
		.comment__header__block
			.comment__header__who
				p {{item.author}} 
				span  IS ASKING:
			.comment__header__title
				p {{item.title}}
		.comment__header__side
			.comment__header__side__switch
				span(ng-click="toggle = !toggle"){{ toggle ? 'follow' : 'unfollow' }}
	.comment__button
		span GIVE new answer
	.response
		.response__dialog
			p  {{item.text}}
.info
	p 2 peers already answered Anthony
	
	.answer
		.answer_item(ng-repeat="item in questionData")
			.answer__item__photo
				img(ng-src="{{item.comments.image}}", alt="")
			.answer__item__content
				span.content__name {{item.comments.name}} 
				span.content__type COMMENTED IT 
				span.content__dote 
				span.content__date {{item.comments.date}}
				br
				span.content__text {{item.comments.content}}
		.answer_subitem(ng-repeat="item in questionData")
			.answer__subitem__photo
				img(ng-src="{{item.subcomments.image}}", alt="")
			.answer__subitem__content
				span.subcontent__name {{item.subcomments.name}} 
				span.subcontent__type COMMENTED IT 
				span.subcontent__dote 
				span.subcontent__date {{item.subcomments.date}} 
				br
				span.subcontent__text {{item.subcomments.content}}
			.answer_subitem__button CONTINUE discusion